.gallery{
    display: inline-block;
    border: 1px solid rgb(78, 74, 74);
    margin: 5px;
    width: 200px;
}

.gallery .description{
    padding: 10px;
    text-align: center;
}

.gallery:hover{
    border: 1px solid rgb(148, 136, 136);
}

.gallery img{
    width: 100%;
    height: auto;
}