h1::first-letter{
    font-size: 2em;
    font-style: italic;
    color: red;
}

p::first-line{
    background-color: lightblue;
}
p::selection{/*Muda quando seleciona algo*/
    color: rgb(100, 187, 42);
    background-color: rgb(0, 0, 0);
}

#fruit li::before{
    content: "✔";
}

#maçã::after{
    content: "🍎";
}

#banana::after{
    content: "🍌";
}


#coco::after{
    content: "🥥";
}

#fruit li::marker{
    content: "👉";
    font-size: 1.2em;
}