body{
    margin: 0px;
}

.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
   
}

#box1{
    background-color: red;
    margin-left: auto;/*auto - ocupa todo o espaço da tela*/
    
}

#box2{
    background-color: blue;
    margin: auto;
}