.icons{
    text-align: center;
}
.icons a{
    text-decoration: none;
    margin-right: 20px;
}

.fa-solid.fa-house.fa-5x{
    color: grey;
}



.fa-solid.fa-house.fa-5x:hover{
    color: rgb(173, 161, 161);
}


.fa-brands.fa-twitter.fa-5x{
    color: lightblue;
}
.fa-brands.fa-twitter.fa-5x:hover{
    color: rgb(58, 123, 143);
}

.fa-brands.fa-youtube.fa-5x{
    color: red;
}

.fa-brands.fa-youtube.fa-5x:hover{
    color: rgb(228, 45, 45);
}

.fa-brands.fa-tiktok.fa-5x{
    color: black;
}

.fa-brands.fa-tiktok.fa-5x:hover{
    color: rgb(51, 51, 51);
}