#box1{
    background-color: green;

    /*transform: translateX(50%);*/
    /*transform: translateY(50%);*/
    /*transform: translate(100%, 100%);*/
    /*transform: rotateX(155deg);*/
    /*transform: rotateY(10deg);*/
    /*transform: rotateZ(45deg);*/

    /*transform: scale(0.5);*//*0.5 representa 50%*/
     /*transform: scaleY(0.4);*//*0.4 representa 40%*/
     /*transform: scale(1, 0.5);*/

     /*transform: skewX(135deg);*/
     /*transform: skewY(135deg);*/
     /*transform: skew(23deg, 56deg);*/

     /*transform: scaleX(1) rotateZ(90deg) scale(0.5) skew(45deg);*/

   
}

#box2{
    background-color: red;
}

#box3{
    background-color: blue;
}

#box4{
    background-color: yellow;
}

.box{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    transform: translateX(100px) rotateZ(45deg) scale(0.25);
    display: inline-block;
   
}

img{
    transform: translateX(100%) rotateZ(180deg) scaleX(1);

}